<div class="loadingPopup">
    <div fxLayout="row">
        <div fxFlex="45%"></div>
        <div fxFlex>
            <div class="lds-ring" align="center">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- <p mat-dialog-title class="saving">
        Loading<span>.</span><span>.</span><span>.</span>
    </p> -->

    <div mat-dialog-content>
        <div class="loading">Loading</div>
        <span class="line-break">Please wait while the system fetches your case data.</span>
    </div>
</div>