
.container-fluid{

    height: 100%;

    .row{
        height: 100%;

        .side-tab-wrapper{
            background: #263b50;

            .side-tab{
                margin: 10px 0px;
                //background: #e9ecef;
                display: table;
                border-radius: 5px;

                &.active{
                    //background: #fff;
                    border-radius: 0px;
                    max-width: 110%;
                    width: 110%;
                }

                &:hover{
                    cursor: pointer;
                }

                .tab-heading{
                    height: 50px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 100%;
                    color:#868e96;
                    font-size: 18px;
                    
                    &:hover{
                        color: #adb5bd;
                    }

                    .material-icons{
                        font-size: 20px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }        
            }
        }
        .tab-content{
            padding: 20px;
            text-align: center
        }
    }    
}
