<div class = "container-fluid">
  <div class = "row">
    <div class = " col-2 side-tab-wrapper">
      <div class = 'side-tab col-12'>
        <span class = 'tab-heading recentQuestion {{activeTab === "recentQuestion" ? "active" : ""}}' (click) = "changeTab('recentQuestion')"><i class="material-icons">
            update
            </i>Recent Questions</span>
      </div>
      <div class = 'side-tab col-12' >
        <span class = 'tab-heading {{activeTab === "topQuestion" ? "active" : ""}}' (click) = "changeTab('topQuestion')"><i class="material-icons">
            trending_up
            </i>Top Queries</span>
      </div>
      <div class = 'side-tab col-12' >
        <span class = 'tab-heading {{activeTab === "topTag" ? "active" : ""}}' (click) = "changeTab('topTag')"><i class="material-icons">
            pie_chart
            </i>Top Tags</span>
      </div>
      <div class = 'side-tab col-12'>
        <span class = 'tab-heading {{activeTab === "postQuestion" ? "active" : ""}}' (click) = "changeTab('postQuestion')"><i class="material-icons">
            question_answer
            </i>Ask a Question</span>
      </div>
      <div class = 'side-tab col-12'>
          <span class = 'tab-heading {{activeTab === "profile" ? "active" : ""}}' (click) = "changeTab('profile')"><i class="material-icons">
              person
              </i>Profile</span>
        </div>
    </div>
      <!-- {{questionList | json}} -->
      
        
    <div class = "col-10 right-section">
      <div class = 'tab-content' *ngIf = "activeTab === 'recentQuestion' || activeTab === 'topQuestion'">
        <h1 class = 'selected-section'>{{selectedTab}}</h1>
        <div *ngFor="let elem of questionList">
                <div class="question-preview">
                    <a (click) = "routeFunction(elem)">
                      <h2 class="question-title">
                        {{elem.title}}
                      </h2>
                      <h3 class="question-subtitle">
                        {{elem.description}}
                      </h3>
                    </a>

                    <p class="question-meta">Posted by
                      <a href="#">{{elem.username}}.</a>
                     </p>
                      <mat-chip-list>
                        <span *ngFor = "let interest of elem.tag">
                          <mat-chip >{{interest}}</mat-chip>
                        </span>  
                        </mat-chip-list>
                  </div>
                </div>  
            </div>
      <!-- <div class = 'tab-content' *ngIf = 'activeTab === "topQuestion"'>
          <h1 class = 'selected-section'>Top Queries</h1>
      </div> -->
      <div class = 'tab-content' *ngIf = 'activeTab === "topTag"'>
          <h1 class = 'selected-section'>{{selectedTab}}</h1>
            <div *ngFor="let elem of questionList">
                    <div class="question-preview">
                          <div *ngIf = "elem['value']">
                              <h2 class="question-title-top-tag">
                                {{elem.key}}{{" - " + elem['value'].length + " queries"}}
                              </h2>
                              <div *ngFor = 'let value of elem["value"]'>
                                <p class="small-questions-list">{{value.title}}</p>
                              </div>
                          </div>
                      </div>
                    </div>  
      </div>
      <div class = 'tab-content' *ngIf = 'activeTab === "postQuestion"'>
        <h1 class = 'selected-section'>Ask a Question</h1>
        <app-post-question></app-post-question>
      </div>
      <div class="tab-content"  *ngIf = 'activeTab === "profile"'>
          <h1 class = 'selected-section'>User Profile</h1>
         
      </div>
    </div>
  </div>
</div> 
 