<div class = "container-fluid">
  <div class = "row">
    <div class = " col-2 side-tab-wrapper">
      <div class = 'side-tab col-12'>
        <span class = 'active tab-heading' (click) = "changeTab('recentQuestion')"><i class="material-icons">
            update
            </i>Recent Questions</span>
      </div>
      <div class = 'side-tab col-12' >
        <span class = 'tab-heading' (click) = "changeTab('topQuestion')"><i class="material-icons">
            trending_up
            </i>Top Queries</span>
      </div>
      <div class = 'side-tab col-12' >
        <span class = 'tab-heading' (click) = "changeTab('topTag')"><i class="material-icons">
            pie_chart
            </i>Top Tags</span>
      </div>
      <div class = 'side-tab col-12'>
        <span class = 'tab-heading' (click) = "changeTab('postQuestion')"><i class="material-icons">
            question_answer
            </i>Ask a Question</span>
      </div>
    </div>
    <div class = "col-10">
      <div class = 'tab-content' *ngIf = 'activeTab === "recentQuestion"'>
        <h1 class = 'selected-section'>Recent Questions</h1>
                <div class="question-preview">
                    <a href="post.html">
                      <h2 class="question-title">
                        Man must explore, and this is exploration at its greatest
                      </h2>
                      <h3 class="question-subtitle">
                        Problems look mighty small from 150 miles up
                      </h3>
                    </a>
                    <p class="question-meta">Posted by
                      <a href="#">Start Bootstrap</a>
                      on September 24, 2018</p>
                  </div>
            </div>
      <div class = 'tab-content' *ngIf = 'activeTab === "topQuestion"'>
          <h1 class = 'selected-section'>Top Queries</h1>
      </div>
      <div class = 'tab-content' *ngIf = 'activeTab === "topTag"'>
          <h1 class = 'selected-section'>Top Tags</h1>
      </div>
      <div class = 'tab-content' *ngIf = 'activeTab === "postQuestion"'>
        <h1 class = 'selected-section'>Ask a Question</h1>
        <app-post-question></app-post-question>
      </div>
    </div>
  </div>
</div> 
 