<div class="post-question-page">
  <form name="post-question" class="" id="post-question">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field class="tags-chip-list">
      <mat-chip-list #chipList>
        <mat-chip color="warn" *ngFor="let tag of tags" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit Query</button>
  </form>
</div>