<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = "col-10 mx-auto">
        <button mat-raised-button color="primary" class = "back-button" (click) = "returnBack();"><i class="material-icons">
            keyboard_backspace
            </i>Back</button>
      <div class="question-preview">
          <a href="post.html">
            <h2 class="question-title">
              {{questionTitle}}
            </h2>
            <h3 class="question-subtitle">
              {{questionDescription}}
            </h3>
          </a>
          <p class="question-meta">Posted by
            <a href="#">{{user}}</a>
          </p>
            <mat-chip-list>
                <mat-chip *ngFor = 'let tag of questionTags' >{{tag}}</mat-chip>
                <mat-chip>CSS</mat-chip>
              </mat-chip-list>
      </div>
    </div>
    <div class = "col-10 mx-auto">
      <div class = "answer" *ngFor = "let answer of questionAnswer">
        <h6>Answer {{index}}</h6>
        <p>{{answer.description}}</p>
        <p class="question-meta">Posted by
            <a href="#">{{answer.username}}</a>
            on September 24, 2018 
            <span class = "like-button">{{answer.like.length}}
                <i class="material-icons">
                    thumb_down
                    </i>
              
            </span>
            <span class = "dislike-button">{{answer.dislike.length}}
                <i class="material-icons">
                    thumb_up
                  </i>
            </span>
        </p>
      </div>
    </div>

    <div class = "col-10 mx-auto">
      <div class = "post-answer">
        <h2>Post your Answer</h2>
          <form name="post-answer" class="" id="post-answer" [formGroup] = 'answerForm'>
              <mat-form-field>
                <textarea matInput placeholder="Answer" formControlName = 'answer'></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" (click) = 'postAnswer();' >Submit Answer</button>
          </form>
      </div>
    </div>  
  </div>
</div>
