<div class="header">
  <mat-toolbar color="primary">
    <i class="material-icons header-logo">
      public
      </i><span class="header-logo-text">Digital Discuss</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  
    <span class="header-signin" *ngIf="!appService.user.username" (click)="openSignin()">Sign In</span>
    <span class="header-signin" *ngIf="appService.user.username" (click)="signout()">Sign Out</span>
  </mat-toolbar>
</div>
